:where(.css-dev-only-do-not-override-1kuana8).ant-input-outlined {
    border-width: 0 0 4px 0;
    border-color: #9d9d9d;
}

label {
    font-weight: bold;
}
.position-buttons-form {
    float: right;
    margin-top: 5%;
}