.sidebar {
  background-color: #ececec !important; /* color del sidebar completo */
  
  .ant-layout-sider-children {
    background-color: #B0B3C1 !important; /* asegura que el hijo (contenedor del menú) tenga el mismo color */
  }

  .ant-menu {
    background-color: transparent !important; /* hace que el menú use el color del contenedor */
  }

  .ant-menu-item {
    color: #ffffff !important; /* color del texto */
  }

  .ant-menu-item-selected {
    background-color: #1890ff !important; /* color cuando se selecciona */
  }

  .ant-menu-item:hover {
    background-color: #112a45 !important; /* color al pasar el mouse */
  }

  .sidebar-collapse-btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    button {
      color: #ffffff;
    }
  }
  
}
