body {
  background-color: rgb(248, 255, 255);
}

.section-home {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: rgb(248, 255, 255);
}

.video-container {
  position: relative;
  width: 100%;
  height: 500px;  // altura del video
  overflow: hidden;
  display: flex;
  justify-content: center;

}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(30px);
  transform: scale(1.05);
  position: absolute;
  top: 0;
  left: 0;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); // negro semitransparente
  z-index: 0;
}

.video-title {
  color: white;
  z-index: 1;
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  margin-top: 200px;
  text-align: center;
  position: relative; // respeta el contenedor flex
}

/* Sección de items debajo del video */
.features-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3 columnas en escritorio
  grid-template-rows: repeat(2, auto);   // 2 filas
  gap: 40px;
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: #f8ffff;

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  }
}

.feature-icon {
  font-size: 3rem;
  margin-bottom: 15px;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.feature-description {
  font-size: 1rem;
  color: #555;
}

/* Título de la sección de características */
.features-header {
  text-align: center;
  padding: 60px 20px 20px 20px;
  background-color: #f8ffff;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #003366;
    margin-bottom: 10px;

    span {
      color: #0078d7; // azul principal
    }
  }

  p {
    font-size: 1.1rem;
    color: #555;
    max-width: 700px;
    margin: 0 auto;
  }
}
